/* VARIABLES */

:root {
    --main-font-family: "Roboto", "Arial", sans-serif;
    --main-text-color: #fff;
    --main-bg-color:#0E0E12;
    --main-font-size: 18px;
    --main-font-weight: 400;
    --main-line-height: 28px;
}